body {
  text-align: center;
  /* margin: 0 auto; */
  background-color: #011F3F;
}

a {
  text-decoration: none;
}

#level-title {
  font-family: 'Games', sans-serif;
  font-size: 5rem;
  margin:  5%;
  color: #F8F0E3;
  background-color: #011F3F;
  border: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.container {
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.circle {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: black;
  border: solid #F8F0E3 4px;
  box-shadow: 0px 0px 5px 5px rgb(0,0,0);
  z-index: 1;
}

.circle h1 {
  font-family: 'Games', sans-serif;
  font-size: 7rem;
  line-height: 50px; 
  color: #F8F0E3;  
  text-shadow: 2px 2px grey;
  padding-right: 20px;
}

.btn{
  display: block;
  width: 20rem;
  height: 20rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}

.btn-red {
  background-color: #ff0000;
  border-top-left-radius: 30px;
  background-image: -webkit-linear-gradient(top, #ff0000, #8a2525);
  background-image: -moz-linear-gradient(top, #ff0000, #8a2525);
  background-image: -ms-linear-gradient(top, #ff0000, #8a2525);
  background-image: -o-linear-gradient(top, #ff0000, #8a2525);
  background-image: linear-gradient(to bottom, #ff0000, #8a2525);
  -webkit-box-shadow: 0px 0px 0px #ff0000;
  -moz-box-shadow: 0px 0px 0px #ff0000;
  box-shadow: 0px 0px 0px #ff0000;
  border: solid #000000 4px;
  text-decoration: none;
}

.btn-red-pressed {
  background-color: #ffa7a7;
  background-image: -webkit-linear-gradient(top, #ffa7a7, #8a2525);
  background-image: -moz-linear-gradient(top, #ffa7a7, #8a2525);
  background-image: -ms-linear-gradient(top, #ffa7a7, #8a2525);
  background-image: -o-linear-gradient(top, #ffa7a7, #8a2525);
  background-image: linear-gradient(to bottom, #ffa7a7, #8a2525);
  -webkit-box-shadow: 0px 0px 30px #ff0000;
  -moz-box-shadow: 0px 0px 30px #ff0000;
  box-shadow: 0px 0px 30px #ff0000; 
  transform: scale(0.90);
}

.btn-blue {
  background-color: #00d9ff;  
  border-top-right-radius: 30px;
  background-image: -webkit-linear-gradient(top, #00d9ff, #045d7d);
  background-image: -moz-linear-gradient(top, #00d9ff, #045d7d);
  background-image: -ms-linear-gradient(top, #00d9ff, #045d7d);
  background-image: -o-linear-gradient(top, #00d9ff, #045d7d);
  background-image: linear-gradient(to bottom, #00d9ff, #045d7d);
  -webkit-box-shadow: 0px 0px 0px #049db8;
  -moz-box-shadow: 0px 0px 0px #049db8;
  box-shadow: 0px 0px 0px #049db8;
  border: solid #000000 4px;
  text-decoration: none;  
}

.btn-blue-pressed {
  background-color: #aef3ff;  
  background-image: -webkit-linear-gradient(top, #aef3ff, #045d7d);
  background-image: -moz-linear-gradient(top, #aef3ff, #045d7d);
  background-image: -ms-linear-gradient(top, #aef3ff, #045d7d);
  background-image: -o-linear-gradient(top, #aef3ff, #045d7d);
  background-image: linear-gradient(to bottom, #aef3ff, #045d7d);
  -webkit-box-shadow: 0px 0px 30px #049db8;
  -moz-box-shadow: 0px 0px 30px #049db8;
  box-shadow: 0px 0px 30px #049db8;
  border-width: 3px; 
  transform: scale(0.90);
}

.btn-green {
  background-color: #0dff00;  
  border-bottom-left-radius: 30px;
  background-image: -webkit-linear-gradient(top, #0dff00, #07781e);
  background-image: -moz-linear-gradient(top, #0dff00, #07781e);
  background-image: -ms-linear-gradient(top, #0dff00, #07781e);
  background-image: -o-linear-gradient(top, #0dff00, #07781e);
  background-image: linear-gradient(to bottom, #0dff00, #07781e);
  -webkit-box-shadow: 0px 0px 0px #00b31b;
  -moz-box-shadow: 0px 0px 0px #00b31b;
  box-shadow: 0px 0px 0px #00b31b;
  border: solid #000000 4px;
  text-decoration: none;
}

.btn-green-pressed {
  background-color: #a6ffa1;  
  background-image: -webkit-linear-gradient(top, #a6ffa1, #07781e);
  background-image: -moz-linear-gradient(top, #a6ffa1, #07781e);
  background-image: -ms-linear-gradient(top, #a6ffa1, #07781e);
  background-image: -o-linear-gradient(top, #a6ffa1, #07781e);
  background-image: linear-gradient(to bottom, #a6ffa1, #07781e);
  -webkit-box-shadow: 0px 0px 30px #00b31b;
  -moz-box-shadow: 0px 0px 30px #00b31b;
  box-shadow: 0px 0px 30px #00b31b;
  border-width: 3px; 
  transform: scale(0.90);
}

.btn-yellow {
  background-color: #ffff00;  
  border-bottom-right-radius: 30px;
  background-image: -webkit-linear-gradient(top, #ffff00, #767a00);
  background-image: -moz-linear-gradient(top, #ffff00, #767a00);
  background-image: -ms-linear-gradient(top, #ffff00, #767a00);
  background-image: -o-linear-gradient(top, #ffff00, #767a00);
  background-image: linear-gradient(to bottom, #ffff00, #767a00);
  -webkit-box-shadow: 0px 0px 0px #adb300;
  -moz-box-shadow: 0px 0px 0px #adb300;
  box-shadow: 0px 0px 0px #adb300;
  border: solid #000000 4px;
  text-decoration: none;
}

.btn-yellow-pressed {
  background-color: #ffff91;  
  background-image: -webkit-linear-gradient(top, #ffff91, #767a00);
  background-image: -moz-linear-gradient(top, #ffff91, #767a00);
  background-image: -ms-linear-gradient(top, #ffff91, #767a00);
  background-image: -o-linear-gradient(top, #ffff91, #767a00);
  background-image: linear-gradient(to bottom, #ffff91, #767a00);
  -webkit-box-shadow: 0px 0px 30px #adb300;
  -moz-box-shadow: 0px 0px 30px #adb300;
  box-shadow: 0px 0px 30px #adb300; 
  border-width: 3px; 
  transform: scale(0.90);
}

